<div class="container">
  <h1><%= @survey.title %></h1>
  <br> 
  <h3> <%= @question.title %> </h3>
  <br>
  <form method='post' action='/stats'>
    <label>
      <!-- iterate over @answers instead -->
      <input type="radio" name="title" value="<%= @answer1.title %>">
      <%= @answer1.title %>
      <input type="radio" name="title" value="<%= @answer2.title %>">
      <%= @answer2.title %>
      <input type="radio" name="title" value="<%= @answer3.title %>">
      <%= @answer3.title %>
    </label>
    <br>
    <input type="submit">
  </form>
</div>
